In [1]:
import pandas as pd

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn import metrics

In [5]:
pwd

'C:\\Users\\sujatha'

In [7]:
data = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\Diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
z = data.columns[data.isnull().sum()]
data[z].isnull().sum()

Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
Pregnancies    0
dtype: int64

In [9]:
x = data[["Pregnancies","Glucose","BloodPressure",'SkinThickness',"Insulin","BMI","DiabetesPedigreeFunction","Age"]]
y = data["Outcome"]

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.25, random_state = 0)

In [12]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [13]:
model.score(x_train,y_train)

1.0

In [14]:
stat= model.predict(x_test)
stat

array([1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [15]:
y_test

661    1
122    0
113    0
14     1
529    0
      ..
366    1
301    1
382    0
140    0
463    0
Name: Outcome, Length: 192, dtype: int64

In [17]:
metrics.accuracy_score(stat,y_test)

0.7395833333333334

In [18]:
model.predict([[6,148,72,35,0,33.6,0.627,50]])

array([1], dtype=int64)

In [19]:
pwd

'C:\\Users\\sujatha'

In [21]:
data = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\HeartDisease.csv')
data

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [24]:
x = data[["age","gender","chest_pain","rest_bps","cholestrol","fasting_blood_sugar","rest_ecg","thalach","exer_angina","old_peak","slope","ca","thalassemia"]]
y = data["target"]

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size =  0.25, random_state = 0)

In [33]:
model = DecisionTreeClassifier()

In [34]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [35]:
stat = model.predict(x_test)
stat

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0], dtype=int64)

In [36]:
y_test

225    0
152    1
228    0
201    0
52     1
      ..
46     1
160    1
232    0
181    0
27     1
Name: target, Length: 76, dtype: int64

In [38]:
metrics.accuracy_score(stat,y_test)

0.7894736842105263

In [39]:
data = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\HeartDisease.csv')
data

,age,gender,chest_pain,rest_bps,cholestrol,fasting_blood_sugar,rest_ecg,thalach,exer_angina,old_peak,slope,ca,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [40]:
x = data[["age","gender","chest_pain","rest_bps","cholestrol","fasting_blood_sugar","rest_ecg","thalach","exer_angina","old_peak","slope","ca","thalassemia"]]
y = data["target"]

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size =  0.25, random_state = 0)

In [42]:
from sklearn.linear_model import LogisticRegression

In [48]:
model = LogisticRegression()

In [54]:
model.fit(x_train,y_train)

C:\Users\sujatha\Downloads\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [51]:
test = model.predict(x_test)
test

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [46]:
y_test

225    0
152    1
228    0
201    0
52     1
      ..
46     1
160    1
232    0
181    0
27     1
Name: target, Length: 76, dtype: int64

In [52]:
metrics.accuracy_score(test,y_test)

0.8421052631578947