In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.linear_model import Lasso, Ridge, ElasticNet
from sklearn.metrics import mean_squared_error, r2_score

In [6]:
insuranceDataRaw = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\insurance.csv')
insuranceDataRaw

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
X = insuranceDataRaw.drop(["charges"], axis=1)
y = insuranceDataRaw[["charges"]]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.1,
                                                   random_state=42)

In [8]:
insuranceTrainCategorical = x_train.select_dtypes("object")
insuranceTrainCategorical.head(2)

         sex smoker     region
196   female     no  southwest
1209    male     no  southwest

In [9]:
insuranceTrainCategorical.isna().sum()

sex       0
smoker    0
region    0
dtype: int64

In [10]:
insuranceTrainNumerical = x_train.select_dtypes(np.number)

In [11]:
insuranceTrainNumerical.isna().sum()

age         0
bmi         0
children    0
dtype: int64

In [12]:
ohe = OneHotEncoder()
ohe.fit(insuranceTrainCategorical)
insuranceTrainCategoricalEncoded = pd.DataFrame(ohe.transform(insuranceTrainCategorical).toarray())

In [13]:
mm = MinMaxScaler()
mm.fit(insuranceTrainNumerical)
insuranceTrainNumericalEncoded = pd.DataFrame(mm.transform(insuranceTrainNumerical),
             columns=insuranceTrainNumerical.columns)

In [14]:
insuranceTrainFinal = pd.concat([insuranceTrainCategoricalEncoded, insuranceTrainNumericalEncoded], axis=1)

In [15]:
logReg = LinearRegression()
sDescentReg = SGDRegressor()
lasso = Lasso(alpha=0.5)
ridge = Ridge(alpha=0.5)
eNet = ElasticNet(l1_ratio=0.4)

In [16]:
logReg.fit(insuranceTrainFinal, y_train)
sDescentReg.fit(insuranceTrainFinal, y_train)
lasso.fit(insuranceTrainFinal, y_train)
ridge.fit(insuranceTrainFinal, y_train)
eNet.fit(insuranceTrainFinal, y_train)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

ElasticNet(l1_ratio=0.4)

# processing of test data

In [26]:
insuranceTestCategorical = x_test.select_dtypes(object)
insuranceTestCategorical.head(2)

        sex smoker     region
764  female     no  northeast
887  female     no  northwest

In [27]:
insuranceTestCategorical.isna().sum()

sex       0
smoker    0
region    0
dtype: int64

In [28]:
insuranceTestNumerical = x_test.select_dtypes(np.number)

In [29]:
insuranceTestNumerical.isna().sum()

age         0
bmi         0
children    0
dtype: int64

In [30]:
insuranceTestCategoricalEncoded = pd.DataFrame(ohe.transform(insuranceTestCategorical).toarray())

In [31]:
insuranceTestNumericalEncoded = pd.DataFrame(mm.transform(insuranceTestNumerical),
             columns=insuranceTestNumerical.columns)

In [32]:
insuranceTestFinal = pd.concat([insuranceTestCategoricalEncoded, insuranceTestNumericalEncoded], axis=1)

In [33]:
predLogReg = logReg.predict(insuranceTestFinal)
predSGD = sDescentReg.predict(insuranceTestFinal)
predLasso = lasso.predict(insuranceTestFinal)
predRidge = ridge.predict(insuranceTestFinal)
predENet = eNet.predict(insuranceTestFinal)

In [34]:
print("Linear Regression RMSE: \t", np.sqrt(mean_squared_error(predLogReg, y_test)))
print("SGD Regression RMSE: \t", np.sqrt(mean_squared_error(predSGD, y_test)))
print("Lasso Regression RMSE: \t", np.sqrt(mean_squared_error(predLasso, y_test)))
print("Ridge Regression RMSE: \t", np.sqrt(mean_squared_error(predRidge, y_test)))
print("Elastic Net Regression RMSE: \t", np.sqrt(mean_squared_error(predENet, y_test)))

Linear Regression RMSE: 	 5708.831564229939
SGD Regression RMSE: 	 5719.84466690062
Lasso Regression RMSE: 	 5681.608605533592
Ridge Regression RMSE: 	 5683.669614576317
Elastic Net Regression RMSE: 	 9082.810658087325