In [2]:
import pandas as pd

In [3]:
import numpy as np

In [6]:
pwd

'C:\\Users\\sujatha'

In [6]:
stat = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\data.csv')
stat

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140,3449,10.5,1970,ford torino,7.227443
...,...,...,...,...,...,...,...,...,...
393,1,4,140.0,86,2790,15.6,1982,ford mustang gl,11.478880
394,2,4,97.0,52,2130,24.6,1982,vw pickup,18.706323
395,1,4,135.0,84,2295,11.6,1982,dodge rampage,13.604599
396,1,4,120.0,79,2625,18.6,1982,ford ranger,11.904024
397,1,4,119.0,82,2720,19.4,1982,chevy s-10,13.179455

In [9]:
x = stat.drop(["Kilometer_per_liter"],axis = 1)
y = stat[["Kilometer_per_liter"]]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=12121)

In [11]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((358, 8), (40, 8), (358, 1), (40, 1))

In [12]:
stat.isna().sum()

origin                 0
cylinders              0
displacement           0
horsepower             0
weight                 0
acceleration           0
year                   0
name                   0
Kilometer_per_liter    0
dtype: int64

In [28]:
statcategorical = x_train.select_dtypes(object)
statNumerical = x_train.select_dtypes(np.number)

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
sImputer = SimpleImputer

In [16]:
sImputer = SimpleImputer(strategy = 'most_frequent')

In [29]:
sImputer.fit(statcategorical)

SimpleImputer(strategy='most_frequent')

In [30]:
temp = sImputer.transform(datacategorical)
statcategoricalNARemoved = pd.DataFrame(temp,columns=statcategorical.columns)

In [19]:
sImputerNumerical = SimpleImputer(strategy = "mean")

In [38]:
sImputerNumerical.fit(dataNumerical)

SimpleImputer()

In [40]:
temp = sImputerNumerical.transform(statNumerical)
statNumericalNARemoved = pd.DataFrame(temp,columns=statNumerical.columns)

In [41]:
stat = pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\data.csv')
stat

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140,3449,10.5,1970,ford torino,7.227443
...,...,...,...,...,...,...,...,...,...
393,1,4,140.0,86,2790,15.6,1982,ford mustang gl,11.478880
394,2,4,97.0,52,2130,24.6,1982,vw pickup,18.706323
395,1,4,135.0,84,2295,11.6,1982,dodge rampage,13.604599
396,1,4,120.0,79,2625,18.6,1982,ford ranger,11.904024
397,1,4,119.0,82,2720,19.4,1982,chevy s-10,13.179455

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [31]:
statcategoricalEncoded = statcategoricalNARemoved.apply(le.fit_transform)

In [32]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [42]:
ss.fit(statNumericalNARemoved)

StandardScaler()

In [43]:
temp = ss.transform(statNumericalNARemoved)
statNumericalEncoded = pd.DataFrame(temp,columns=statNumericalNARemoved.columns)

In [44]:
statNumericalEncoded.head()

     origin  cylinders  displacement    weight  acceleration      year
0  0.543623  -0.852011     -0.450156  0.343034      2.265065  1.092182
1 -0.703922  -0.852011     -0.847534 -0.903126     -0.865797  0.823083
2 -0.703922   1.503355      1.846879  2.366561     -1.484689 -1.329711
3  0.543623  -0.852011     -0.692460 -0.357189     -0.574554 -0.791513
4 -0.703922  -0.852011     -0.508309 -0.827170     -0.028473 -1.329711

In [45]:
statFinal = pd.concat([statcategoricalEncoded,statNumericalEncoded],axis = 1)

In [46]:
from sklearn.linear_model import LinearRegression, SGDRegressor
lr = LinearRegression()
sgdR = SGDRegressor()

In [47]:
lr.fit(statFinal.to_numpy(),y_train.to_numpy())

LinearRegression()

In [52]:
predictions_lr = lr.predict(statTestFinal)
predictions_sgd = sgdR.predict(statTestFinal)

NameError: name 'statTestFinal' is not defined

In [50]:
from sklearn.metrics import mean_squared_error, r2_score

In [51]:
np.sqrt(mean_squared_error(predictions_lr,y_test))

NameError: name 'predictions_lr' is not defined