In [100]:
import pandas as pd

In [101]:
import numpy as np
import sklearn as sk

In [102]:
bostondata = pd.read_csv("train.csv")
bostondata

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [103]:
x = bostondata.drop(["SalePrice"],axis = 1)
y = bostondata[["SalePrice"]]

In [104]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=12121)

In [105]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((1314, 80), (146, 80), (1314, 1), (146, 1))

In [106]:
bostondata.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [107]:
bostondatacategorical = x_train.select_dtypes(object)
bostondataNumerical = x_train.select_dtypes(np.number)

In [108]:
bostondatacategorical.isna().sum()

MSZoning            0
Street              0
Alley            1230
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           34
BsmtCond           34
BsmtExposure       35
BsmtFinType1       34
BsmtFinType2       34
Heating             0
HeatingQC           0
CentralAir          0
Electrical          0
KitchenQual         0
Functional          0
FireplaceQu       629
GarageType         69
GarageFinish       69
GarageQual         69
GarageCond         69
PavedDrive          0
PoolQC           1308
Fence            1052
MiscFeature      1262
SaleType            0
SaleCondition       0
dtype: int64

In [109]:
bostondata.shape

(1460, 81)

In [110]:
bostondatacategorical.drop(["MiscFeature","Fence","PoolQC","Alley"],axis = 1, inplace = True)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [111]:
bostondatacategorical.isna().sum()

MSZoning           0
Street             0
LotShape           0
LandContour        0
Utilities          0
LotConfig          0
LandSlope          0
Neighborhood       0
Condition1         0
Condition2         0
BldgType           0
HouseStyle         0
RoofStyle          0
RoofMatl           0
Exterior1st        0
Exterior2nd        0
MasVnrType         8
ExterQual          0
ExterCond          0
Foundation         0
BsmtQual          34
BsmtCond          34
BsmtExposure      35
BsmtFinType1      34
BsmtFinType2      34
Heating            0
HeatingQC          0
CentralAir         0
Electrical         0
KitchenQual        0
Functional         0
FireplaceQu      629
GarageType        69
GarageFinish      69
GarageQual        69
GarageCond        69
PavedDrive         0
SaleType           0
SaleCondition      0
dtype: int64

In [112]:
from sklearn.impute import SimpleImputer

In [113]:
sImputer = SimpleImputer

In [114]:
sImputer = SimpleImputer(strategy = 'most_frequent')

In [115]:
sImputer.fit(bostondatacategorical)

SimpleImputer(strategy='most_frequent')

In [116]:
temp = sImputer.transform(bostondatacategorical)
bostondatacategoricalNARemoved = pd.DataFrame(temp,columns=bostondatacategorical.columns)

In [117]:
sImputerNumerical = SimpleImputer(strategy = "mean")

sImputerNumerical.fit(bostondataNumerical)

In [118]:
sImputerNumerical.fit(bostondataNumerical)

SimpleImputer()

In [119]:
temp = sImputerNumerical.transform(bostondataNumerical)
bostondataNumericalNARemoved = pd.DataFrame(temp,columns=bostondataNumerical.columns)

In [120]:
bostondata = pd.read_csv("train.csv")
bostondata

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [121]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [122]:
bostondatacategoricalEncoded = bostondatacategoricalNARemoved.apply(le.fit_transform)

In [123]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [124]:
ss.fit(bostondataNumericalNARemoved)

StandardScaler()

In [125]:
temp = ss.transform(bostondataNumericalNARemoved)
bostondataNumericalEncoded = pd.DataFrame(temp,columns=bostondataNumericalNARemoved.columns)

In [126]:
bostondataNumericalEncoded.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,-1.519334,2.437913,-1.354319,-0.644964,-0.068181,-0.523667,1.267013,1.184239,-0.150313,-0.984225,...,0.271460,-0.747456,2.868186,-0.357724,-0.113719,-0.27116,-0.066914,-0.091066,-0.123179,0.897073
1,-0.318226,-0.871525,0.791999,-0.245268,-0.802524,0.366499,0.135183,-0.467352,-0.575832,-0.984225,...,-0.897024,-0.747456,-0.696898,-0.357724,-0.113719,-0.27116,-0.066914,-0.091066,-0.860568,0.147706
2,-0.405881,-0.162360,-0.460020,0.056556,-1.536867,0.366499,-1.695719,-1.681756,-0.575832,0.407734,...,0.469349,-0.747456,0.019166,1.573392,-0.113719,-0.27116,-0.066914,-0.091066,0.982905,-1.351027
3,0.172167,-0.635137,-1.354319,-0.560948,-1.536867,1.256666,-1.828875,0.261291,-0.575832,-0.553745,...,-0.143163,-0.747456,-0.696898,-0.357724,-0.113719,-0.27116,-0.066914,-0.091066,0.245516,-0.601661
4,-0.917596,-0.871525,-0.460020,-0.204695,-1.536867,-1.413834,-0.697045,-1.681756,-0.575832,-0.984225,...,-0.831061,1.245670,-0.696898,0.028499,-0.113719,-0.27116,-0.066914,-0.091066,0.982905,0.897073

In [127]:
bostondataFinal = pd.concat([bostondatacategoricalEncoded,bostondataNumericalEncoded],axis = 1)

In [128]:
from sklearn.linear_model import LinearRegression, SGDRegressor
lr = LinearRegression()
sgdR = SGDRegressor()

In [129]:
lr.fit(bostondataFinal.to_numpy(),y_train.to_numpy())

LinearRegression()