In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pwd

'C:\\Users\\sujatha'

In [3]:
data=pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\Dressify Test.csv')

In [4]:
stat=pd.read_csv(r'C:\\Users\\sujatha\desktop\sujatha\Dressify Train.csv')

In [5]:
data["Recommended"]='Test'

In [6]:
dataFinal=pd.concat([data,stat])
dataFinal

,ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area,Recommended,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,100345,vintage,Average,4.5,L,Automn,o-neck,sleevless,empire,NaN,worsted,NaN,solid,B,Test,NaN,NaN,NaN,NaN
1,100347,Casual,low,0.0,free,Spring,v-neck,threequarter,NaN,silk,NaN,lace,NaN,D,Test,NaN,NaN,NaN,NaN
2,100350,Casual,Average,0.0,free,Spring,o-neck,sleevless,natural,NaN,chiffon,NaN,solid,A,Test,NaN,NaN,NaN,NaN
3,100357,Casual,Medium,0.0,S,Spring,v-neck,full,NaN,NaN,NaN,NaN,animal,A,Test,NaN,NaN,NaN,NaN
4,100358,Casual,Low,0.0,free,NaN,o-neck,full,natural,cotton,NaN,NaN,patchwork,E,Test,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,100839,Sexy,Medium,0.0,free,winter,o-neck,sleevless,natural,polyster,NaN,sequined,solid,A,0,NaN,NaN,NaN,NaN
355,100840,Casual,Average,4.5,M,Winter,v-neck,sleevless,natural,NaN,chiffon,button,striped,C,0,NaN,NaN,NaN,NaN
356,100841,Casual,low,4.4,free,Summer,turndowncollor,sleevless,natural,cotton,NaN,NaN,solid,E,0,NaN,NaN,NaN,NaN
357,100842,Casual,Average,5.0,L,Summer,o-neck,sleevless,natural,cotton,NaN,NaN,NaN,A,1,NaN,NaN,NaN,NaN
358,100843,Casual,Average,4.8,M,Summer,o-neck,halfsleeve,NaN,NaN,NaN,NaN,NaN,B,0,NaN,NaN,NaN,NaN

In [7]:
dataFinal.head()

,ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area,Recommended,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,100345,vintage,Average,4.5,L,Automn,o-neck,sleevless,empire,NaN,worsted,NaN,solid,B,Test,NaN,NaN,NaN,NaN
1,100347,Casual,low,0.0,free,Spring,v-neck,threequarter,NaN,silk,NaN,lace,NaN,D,Test,NaN,NaN,NaN,NaN
2,100350,Casual,Average,0.0,free,Spring,o-neck,sleevless,natural,NaN,chiffon,NaN,solid,A,Test,NaN,NaN,NaN,NaN
3,100357,Casual,Medium,0.0,S,Spring,v-neck,full,NaN,NaN,NaN,NaN,animal,A,Test,NaN,NaN,NaN,NaN
4,100358,Casual,Low,0.0,free,NaN,o-neck,full,natural,cotton,NaN,NaN,patchwork,E,Test,NaN,NaN,NaN,NaN

# head,tail,shape,describe

In [8]:
dataFinal.tail()

,ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area,Recommended,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
354,100839,Sexy,Medium,0.0,free,winter,o-neck,sleevless,natural,polyster,NaN,sequined,solid,A,0,NaN,NaN,NaN,NaN
355,100840,Casual,Average,4.5,M,Winter,v-neck,sleevless,natural,NaN,chiffon,button,striped,C,0,NaN,NaN,NaN,NaN
356,100841,Casual,low,4.4,free,Summer,turndowncollor,sleevless,natural,cotton,NaN,NaN,solid,E,0,NaN,NaN,NaN,NaN
357,100842,Casual,Average,5.0,L,Summer,o-neck,sleevless,natural,cotton,NaN,NaN,NaN,A,1,NaN,NaN,NaN,NaN
358,100843,Casual,Average,4.8,M,Summer,o-neck,halfsleeve,NaN,NaN,NaN,NaN,NaN,B,0,NaN,NaN,NaN,NaN

In [9]:
dataFinal.shape

(500, 19)

In [10]:
dataFinal.dtypes

ID                int64
Style            object
Price            object
Rating          float64
Size             object
Season           object
NeckLine         object
SleeveLength     object
waiseline        object
Material         object
FabricType       object
Decoration       object
Pattern Type     object
Area             object
Recommended      object
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
dtype: object

In [11]:
dataFinal.describe()

,ID,Rating,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
count,500.000000,500.000000,0.0,0.0,0.0,0.0
mean,100594.500000,3.528600,NaN,NaN,NaN,NaN
std,144.481833,2.005364,NaN,NaN,NaN,NaN
min,100345.000000,0.000000,NaN,NaN,NaN,NaN
25%,100469.750000,3.700000,NaN,NaN,NaN,NaN
50%,100594.500000,4.600000,NaN,NaN,NaN,NaN
75%,100719.250000,4.800000,NaN,NaN,NaN,NaN
max,100844.000000,5.000000,NaN,NaN,NaN,NaN

In [12]:
dataFinal.columns

Index(['ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Area', 'Recommended', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')

In [13]:
dataFinal["Style"].value_counts()
dataFinal["Price"].value_counts()
dataFinal["Season"].value_counts()
dataFinal["NeckLine"].value_counts()
dataFinal["SleeveLength"].value_counts()

sleevless         223
full               97
short              96
halfsleeve         35
threequarter       17
thressqatar        10
sleeveless          5
capsleeves          3
sleeevless          3
cap-sleeves         2
Petal               1
turndowncollor      1
urndowncollor       1
sleveless           1
threequater         1
butterfly           1
half                1
Name: SleeveLength, dtype: int64

In [63]:
dataFinal.isnull().sum()

ID                0
Style             0
Price             2
Rating            0
Size              0
Season            2
NeckLine          3
SleeveLength      2
waiseline        87
Material        128
FabricType      266
Decoration      236
Pattern Type    109
Area              0
Recommended       0
Unnamed: 15     500
Unnamed: 16     500
Unnamed: 17     500
Unnamed: 18     500
dtype: int64

In [65]:
dataFinal.drop(['Unnamed: 18','Unnamed: 17','Unnamed: 16','Unnamed: 15'],axis=1,inplace=True)

# CROSS TAB

In [66]:
pd.crosstab(dataFinal.Price,dataFinal.Style)

Style,Brief,Casual,Flare,Novelty,OL,Sexy,bohemian,cute,fashion,party,sexy,vintage,work
Price,,,,,,,,,,,,,
Average,13,118,2,7,0,29,10,21,1,18,2,17,14
High,0,1,0,0,0,0,0,2,0,1,0,2,0
Low,5,70,0,0,0,24,11,12,0,0,4,3,0
Medium,0,12,0,1,1,2,1,4,0,5,1,2,1
high,0,5,0,0,0,1,0,1,0,8,0,0,0
low,0,24,0,0,0,12,1,5,0,0,0,1,2
very-high,0,2,0,0,0,1,1,0,0,17,0,0,0

In [67]:
pd.crosstab(dataFinal.Size,dataFinal.Style)

Style,Brief,Casual,Flare,Novelty,OL,Sexy,bohemian,cute,fashion,party,sexy,vintage,work
Size,,,,,,,,,,,,,
L,3,46,0,1,0,9,4,11,0,8,2,7,5
M,7,74,0,2,1,18,4,18,0,32,5,7,9
S,0,19,0,1,0,8,1,1,0,2,0,4,1
XL,2,10,0,0,0,0,1,2,0,0,0,0,0
free,6,81,2,4,0,34,14,13,1,9,0,7,2
s,0,1,0,0,0,0,0,0,0,0,0,0,0
small,0,1,0,0,0,0,0,0,0,0,0,0,0

In [68]:
pd.crosstab(dataFinal.Season,dataFinal.FabricType)

FabricType,Corduroy,batik,broadcloth,chiffon,dobby,flannael,flannel,jersey,knitted,knitting,...,other,poplin,satin,sattin,shiffon,terry,tulle,wollen,woolen,worsted
Season,,,,,,,,,,,,,,,,,,,,,
Automn,0,0,3,20,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,3
Autumn,0,0,0,2,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
Spring,0,0,5,43,1,0,0,3,0,0,...,0,0,1,2,4,1,1,1,0,6
Summer,2,2,11,31,0,0,0,6,0,0,...,0,1,0,3,1,0,0,1,0,7
Winter,0,0,6,30,0,1,1,1,1,1,...,1,1,0,0,2,0,1,0,1,3
spring,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
winter,0,0,6,8,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
pd.crosstab(dataFinal.Recommended,dataFinal.Price)

Price        Average  High  Low  Medium  high  low  very-high
Recommended
0                115     2   50       5     6   23          5
1                 63     2   43      15     6   15          8
Test              74     2   36      10     3    7          8

In [70]:
pd.crosstab(dataFinal.Recommended,dataFinal.Style)

Style,Brief,Casual,Flare,Novelty,OL,Sexy,bohemian,cute,fashion,party,sexy,vintage,work
Recommended,,,,,,,,,,,,,
0,10,103,0,4,1,31,7,15,0,12,2,13,8
1,3,66,1,2,0,20,11,18,0,21,3,5,3
Test,5,63,1,2,0,18,6,12,1,18,2,7,6

# chi square test

In [71]:
from scipy.stats import chi2_contingency

In [72]:
chi2_contingency(pd.crosstab(dataFinal.Style,
                            dataFinal.Recommended))
# Since p-value=0.4545454453451022 is greater than 0.05, Fail to Reject null

(24.123643260383172,
 0.4545454453451022,
 24,
 array([[ 7.416,  5.508,  5.076],
        [95.584, 70.992, 65.424],
        [ 0.824,  0.612,  0.564],
        [ 3.296,  2.448,  2.256],
        [ 0.412,  0.306,  0.282],
        [28.428, 21.114, 19.458],
        [ 9.888,  7.344,  6.768],
        [18.54 , 13.77 , 12.69 ],
        [ 0.412,  0.306,  0.282],
        [21.012, 15.606, 14.382],
        [ 2.884,  2.142,  1.974],
        [10.3  ,  7.65 ,  7.05 ],
        [ 7.004,  5.202,  4.794]]))

# dataFinal is dividing categorical and numerical

In [73]:
dataFinalCategorical = dataFinal.select_dtypes(object)
dataFinalNumerical = dataFinal.select_dtypes(np.number)

In [74]:
dataFinalNumerical['Recommended']=dataFinalCategorical.Recommended

<ipython-input-74-89285d993bb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFinalNumerical['Recommended']=dataFinalCategorical.Recommended

In [75]:
dataFinalCategorical.drop(['Recommended'],axis=1,inplace=True)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [76]:
dataFinalNumerical.columns

Index(['ID', 'Rating', 'Recommended'], dtype='object')

In [77]:
for col in dataFinalCategorical.columns:
    dataFinalCategorical[col] = dataFinalCategorical[col].fillna(dataFinalCategorical[col].value_counts().idxmax())

<ipython-input-77-0de70ccc0d6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFinalCategorical[col] = dataFinalCategorical[col].fillna(dataFinalCategorical[col].value_counts().idxmax())

In [78]:
dataFinalCategorical

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area
0,vintage,Average,L,Automn,o-neck,sleevless,empire,cotton,worsted,lace,solid,B
1,Casual,low,free,Spring,v-neck,threequarter,natural,silk,chiffon,lace,solid,D
2,Casual,Average,free,Spring,o-neck,sleevless,natural,cotton,chiffon,lace,solid,A
3,Casual,Medium,S,Spring,v-neck,full,natural,cotton,chiffon,lace,animal,A
4,Casual,Low,free,Summer,o-neck,full,natural,cotton,chiffon,lace,patchwork,E
...,...,...,...,...,...,...,...,...,...,...,...,...
354,Sexy,Medium,free,winter,o-neck,sleevless,natural,polyster,chiffon,sequined,solid,A
355,Casual,Average,M,Winter,v-neck,sleevless,natural,cotton,chiffon,button,striped,C
356,Casual,low,free,Summer,turndowncollor,sleevless,natural,cotton,chiffon,lace,solid,E
357,Casual,Average,L,Summer,o-neck,sleevless,natural,cotton,chiffon,lace,solid,A
358,Casual,Average,M,Summer,o-neck,halfsleeve,natural,cotton,chiffon,lace,solid,B

# DATA PROCESSING

In [79]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [80]:
dataFinalCategoricalEncoder = dataFinalCategorical.apply(le.fit_transform)

In [81]:
dataFinalNumerical

         ID  Rating Recommended
0    100345     4.5        Test
1    100347     0.0        Test
2    100350     0.0        Test
3    100357     0.0        Test
4    100358     0.0        Test
..      ...     ...         ...
354  100839     0.0           0
355  100840     4.5           0
356  100841     4.4           0
357  100842     5.0           1
358  100843     4.8           0

[500 rows x 3 columns]

In [82]:
dataFinalCategoricalEncoder

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area
0,11,0,0,0,7,10,1,3,21,12,11,1
1,1,5,4,2,15,12,2,18,3,12,11,3
2,1,0,4,2,7,10,2,3,3,12,11,0
3,1,3,2,2,15,4,2,3,3,12,0,0
4,1,2,4,3,7,4,2,3,3,12,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...
354,5,3,4,7,7,10,2,15,3,22,11,0
355,1,0,1,4,15,10,2,3,3,4,13,2
356,1,5,4,3,14,10,2,3,3,12,11,4
357,1,0,0,3,7,10,2,3,3,12,11,0
358,1,0,1,3,7,6,2,3,3,12,11,1

In [83]:
datanew1 = pd.concat([dataFinalCategoricalEncoder,dataFinalNumerical],axis=1)

In [84]:
Traindf=datanew1[datanew1.Recommended!='Test']
Testdf=datanew1[datanew1.Recommended=='Test']

In [85]:
Traindf.dtypes

Style             int32
Price             int32
Size              int32
Season            int32
NeckLine          int32
SleeveLength      int32
waiseline         int32
Material          int32
FabricType        int32
Decoration        int32
Pattern Type      int32
Area              int32
ID                int64
Rating          float64
Recommended      object
dtype: object

In [86]:
Testdf

,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Area,ID,Rating,Recommended
0,11,0,0,0,7,10,1,3,21,12,11,1,100345,4.5,Test
1,1,5,4,2,15,12,2,18,3,12,11,3,100347,0.0,Test
2,1,0,4,2,7,10,2,3,3,12,11,0,100350,0.0,Test
3,1,3,2,2,15,4,2,3,3,12,0,0,100357,0.0,Test
4,1,2,4,3,7,4,2,3,3,12,8,4,100358,0.0,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,7,5,0,3,7,10,2,3,3,21,11,2,100817,4.5,Test
137,5,2,4,2,7,4,2,3,21,12,13,0,100818,5.0,Test
138,5,0,0,0,15,10,1,3,3,12,8,1,100832,0.0,Test
139,7,2,1,3,3,7,2,3,3,21,11,1,100834,0.0,Test
140,12,0,1,4,11,7,2,15,2,20,11,3,100844,4.9,Test

In [87]:
Traindf['Rating']=Traindf.Rating.astype('int64')

<ipython-input-87-eaeccb51904c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Traindf['Rating']=Traindf.Rating.astype('int64')

In [88]:
Traindf['Recommended']=Traindf.Recommended.astype('int64')

<ipython-input-88-e2c1627e45d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Traindf['Recommended']=Traindf.Recommended.astype('int64')

# build the model

In [89]:
x = Traindf.drop(["Recommended"], axis=1)
y = Traindf[["Recommended"]]

# logistic regression

In [90]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

In [91]:
Traindf.fillna(Traindf.mean(), inplace=True)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [92]:
Traindf.isna().sum()

Style           0
Price           0
Size            0
Season          0
NeckLine        0
SleeveLength    0
waiseline       0
Material        0
FabricType      0
Decoration      0
Pattern Type    0
Area            0
ID              0
Rating          0
Recommended     0
dtype: int64

In [94]:
log.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [95]:
log.score(x,y)

0.5738161559888579

In [96]:
logitpredict=log.predict(x)

In [97]:
from sklearn.metrics import classification_report

In [98]:
print(classification_report(y,logitpredict))

              precision    recall  f1-score   support

           0       0.57      1.00      0.73       206
           1       0.00      0.00      0.00       153

    accuracy                           0.57       359
   macro avg       0.29      0.50      0.36       359
weighted avg       0.33      0.57      0.42       359

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# RandomForestRegressor score

In [99]:
from sklearn.ensemble import RandomForestRegressor

In [100]:
RF = RandomForestRegressor()

In [101]:
RFmodel  = RF.fit(x,y)

<ipython-input-101-fb8df2ef0207>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  RFmodel  = RF.fit(x,y)

In [102]:
RFmodel.score(x,y)

0.8620837680055842

# GradientBoostingRegressor model

In [104]:
from sklearn.ensemble import GradientBoostingRegressor

In [105]:
gdm = GradientBoostingRegressor()

In [106]:
gdmmodel = gdm.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [107]:
gdmmodel.score(x,y)

0.6255296107110736

# DecisionTreeClassifier score

In [108]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()

In [109]:
treemodel = tree.fit(x,y)

In [110]:
treemodel.score(x,y)

1.0

In [111]:
from sklearn.model_selection import cross_val_score

In [112]:
cross_val_score(tree,x,y,cv=5)

array([0.5       , 0.47222222, 0.54166667, 0.56944444, 0.53521127])

# naive_bayes
1)GaussianNB 
2)MultinomialNB

In [113]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [114]:
gnb = GaussianNB() 
mnb = MultinomialNB()

In [115]:
gnb.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [116]:
gnb.score(x,y)

0.6211699164345403

In [117]:
mnb.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

MultinomialNB()

# support vector machine

In [120]:
from sklearn.svm import SVC

In [121]:
sm=SVC()

In [122]:
smmodel=sm.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [123]:
svmpredict = smmodel.predict(x)

In [124]:
print(classification_report(y,svmpredict))

              precision    recall  f1-score   support

           0       0.57      1.00      0.73       206
           1       0.00      0.00      0.00       153

    accuracy                           0.57       359
   macro avg       0.29      0.50      0.36       359
weighted avg       0.33      0.57      0.42       359

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Multilayer prediction

In [125]:
from sklearn.neural_network import MLPClassifier

In [126]:
nn=MLPClassifier()

In [127]:
nnmodel=nn.fit(x,y)

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [128]:
nnpredict=nnmodel.predict(x)

In [129]:
print(classification_report(y,nnpredict))

              precision    recall  f1-score   support

           0       0.57      1.00      0.73       206
           1       0.00      0.00      0.00       153

    accuracy                           0.57       359
   macro avg       0.29      0.50      0.36       359
weighted avg       0.33      0.57      0.42       359

C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sujatha\Downloads\anaconda\envs\Test\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))